



<div class="container">
  <h3>Your Pet Reports:</h3>
  <div class="report-list">
  	<% @user_reports.each do |report|%>
  		<p class="list-group-item list-group-item-info"><a href="/users/<%= current_user.id %>/reports/<%=report.id%>"><%= report.pet_name %></a>, (<%= report.report_type %>)</p>
  	<% end %>
  </div>


<div class="container">


  <form action="/users/<%= current_user.id %>/reports/new">
    <input type="hidden" name="report_type" value="lost">
    <input class="lost-button btn btn-info btn-orange" type="submit" value="I Lost a Pet!">
  </form>

  <form action="/users/<%= current_user.id %>/reports/new">
    <input type="hidden" name="report_type" value="found">
    <input class="found-button btn btn-info btn-orange" type="submit" value="I Found a Pet!">
  </form>

  <%= button_to "Nearby Reports", 'reports#index', :method => :get, :class => 'nearby-reports btn btn-info btn-orange' %>
</div>


</div>