<div class="landing-background">

<!--   <h1 class="app-header">FuzzFinders</h1> -->

  <div class="text-center">
    <img class="fuzz-logo" src="/images/FuzzFinders_RGB_Final.png">
  </div>

  <div class="login-container">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, :placeholder => "Your Email", :class => 'form-control' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", :placeholder => "Your Password", :class => 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? -%>

    <div class="checkbox">
      <label>
        <%= f.check_box :remember_me %>
        Remember Me
        </label>
    </div>

    <% end -%>

    <div class="actions">
      <%= f.submit "Log In", class: 'btn btn-primary btn-orange' %>
    </div>
    <% end %>

    <div style="width: 90%; margin: 1em auto;">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
