<div id="report-map" style="width: 500px; height: 500px" data-nearby-reports="<%= @all_nearby.to_json %>" data-lat="<%= @lat %>" data-lng="<%=@lng %>" data-photo-urls="<%=@all_photos.to_json %>" data-tags="<%= @all_tags.to_json %>"></div>
<div class="map-filters"><button id="all">All</button><button id="lost">Lost</button><button id="found">Found</button>Search Radius: <select id="radius"><option value="5">5 miles</option><option value="10">10 miles</option><option value="25">25 miles</option></select><br>Pet Type: <select id="animal_type"><option value="All">All</option><option value="Dog">Dog</option><option value="Cat">Cat</option><option value="Reptile">Reptile</option><option value="Bird">Bird</option><option value="Rodent">Rodent</option><option value="Other">Other</option></select></div>

<div id ="5">
	<% @reports5.each do |report| %>
		<div class="<%= report.animal_type %>">
			<%= report.id %>. <a href="/users/<%=report.user_id %>/reports/<%=report.id%>"><%= report.pet_name %> </a>(<%= report.report_type %>) <br>
			<div><%= image_tag report.photo.url(:thumb) %></div>
			<br>
			Pet Type: <%= report.animal_type %><br>
			<span>Created: <%= time_ago_in_words(report.created_at)%> ago </span>
			<br>
			Posted by: <%= report.user.username %><br>
			Tags: <%=raw tag_links(report.all_tags)%><br><br>
		</div>
	<% end %>
</div>
<div id ="10" style="display:none">
	<% @reports10.each do |report| %>
		<div class ="<%=report.animal_type%>">
			<%= report.id %>. <a href="/users/<%=report.user_id %>/reports/<%=report.id%>"><%= report.pet_name %> </a>(<%= report.report_type %>) <br>
			<div><%= image_tag report.photo.url(:thumb) %></div>
			<br>
			Pet Type: <%= report.animal_type %><br>
			<span>Created: <%= time_ago_in_words(report.created_at)%> ago </span>
			<br>
			Posted by: <%= report.user.username %><br>
			Tags: <%=raw tag_links(report.all_tags)%><br><br>
		</div>
	<% end %>
</div>
<div id ="25" style="display:none">
	<% @reports25.each do |report| %>
		<div class="<%= report.animal_type %>">
			<%= report.id %>. <a href="/users/<%=report.user_id %>/reports/<%=report.id%>"><%= report.pet_name %> </a>(<%= report.report_type %>) <br>
			<div><%= image_tag report.photo.url(:thumb) %></div>
			<br>
			Pet Type: <%= report.animal_type %><br>
			<span>Created: <%= time_ago_in_words(report.created_at)%> ago </span>
			<br>
			Posted by: <%= report.user.username %><br>
			Tags: <%=raw tag_links(report.all_tags)%><br><br>
		</div>
	<% end %>
</div>

<br>
<%= link_to 'home', root_path %>
<br>
<br>




