<h2>in views/reports/index.html.erb</h2>

<% @reports.each do |report| %>

<%= report.id %>. <%= report.pet_name %> (<%= report.report_type %>) <br>
<div><%= image_tag report.photo.url(:thumb) %></div>
<br>
<span>Created: <%= time_ago_in_words(report.created_at)%> ago </span>
<br>
Posted by: <%= report.user.email %><br>
Tags: <%=raw tag_links(report.all_tags)%><br><br>
<% end %>
<br>
<%= link_to 'home', root_path %>
