
<div id="report-map" data-nearby-reports="<%= @reports.to_json %>" data-lat="<%= @lat %>" data-lng="<%=@lng %>" data-photo-urls="<%=@photos.to_json %>" data-tags="<%= @tags.to_json %>">
</div>

<div class="map-filters btn-group btn-group-justified" role="group">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" id="all">All</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" id="lost">Lost</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" id="found">Found</button>
  </div>
</div>
<div>
  <% @reports.each do |report| %>
    <div class="report-list-item">
      <div>
        <%= image_tag report.photo.url(:thumb) %>
      </div>
      <div>
        <a href="/users/<%=report.user_id %>/reports/<%=report.id%>">
          <%= report.pet_name %>
        </a>(<%= report.report_type %>)
        <br>
        Pet Type: <%= report.animal_type %><br>
        <span>Created: <%= time_ago_in_words(report.created_at)%> ago </span>
        <br>
        Posted by: <%= report.user.username %><br>
        Tags: <%=raw tag_links(report.all_tags)%><br><br>
      </div>
    </div>
  <% end %>
</div>
