<!DOCTYPE html>
<html>

  <head>
    <title>Fuzzfinders</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- this viewport meta tag scales the rendering of the dom objects for mobile -->
    <meta name="viewport" content="initial-scale=1">

    <!-- tag for Nunito font -->
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  </head>



  <body>
    <marquee behavior="scroll" direction="left">
      <div id="amber-alert" data-uri="<%= request.host %>:<%= request.port %>/websocket">
        <div id="alert-message"></div>
      </div>
    </marquee>

    <div class="container">

      <% if user_signed_in? %>

        <div class="container">
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-info btn-orange edit-profile' %>
        <% if current_page?('/reports') %>
          <%= link_to 'Home', root_path, :class => 'btn btn-info btn-orange edit-profile home-button' %>
        <% end %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => 'btn btn-info btn-orange log-out'  %>
        </div>

        <div class="logged-in-banner">
        Logged in as <strong><%= current_user.email %></strong>.
        </div>

      <% else %>
        <%= link_to "Sign Up", new_user_registration_path, :class => 'sign-up-top btn btn-info btn-orange'  %>
        <%= link_to "Log In", new_user_session_path, :class => 'log-in-top btn btn-primary btn-orange'  %>
      <% end %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <%= yield %>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>"></script>


    <% if user_signed_in? %>
      <div class="container chatter">
        <div id="chat_history"></div>
        <form id="fucking-message">
          <input class="span" id="new_message" prompt="New message" type="text"></input>
          <button class="btn btn-primary" id="send_message">Chat</button></form>
        </div>
<!--       <div id="chat-text">
            </div> -->
      </div>
    <% end %>
  </body>
</html>
